html, body {
    margin: 0;
    padding: 0;
}

body {
    --mdc-typography-font-family: "Open Sans";
    --mdc-typography-button-font-family: "Roboto", sans-serif;
    --mdc-typography-body1-font-family: var(--mdc-typography-font-family);
    --mdc-text-button-label-text-font: var(--mdc-typography-button-font-family);
    --mdc-protected-button-label-text-font: var(--mdc-typography-button-font-family);

    --mdc-typography-headline1-font-size: 40px;
    --mdc-typography-headline1-line-height: 40px;
    --mdc-typography-headline1-font-weight: 700;
    --mdc-typography-headline1-margin: 0;

    --mdc-theme-background: #f4f5f7;
    --mdc-theme-surface: #1e2738;
    --mdc-theme-primary: #fe655c;
    --mdc-theme-secondary: #465981;
    --mdc-theme-link: #629feb;
    --mdc-theme-icon: #d7dde9;

    background-color: var(--mdc-theme-background);
}

.mdc-typography--headline1 {
    margin: var(--mdc-typography-headline1-margin);
    color: var(--mdc-theme-secondary);
}

.mdc-button--rounded {
    --mdc-text-button-container-shape: 18px;
    --mdc-protected-button-container-shape: 18px;
    border-radius: var(--mdc-text-button-container-shape);
}

.mdc-text-field {
    width: 100%;
}

.mdc-text-field--pixels:after {
    content: "\00a0px";
    color: var(--mdc-theme-secondary);
}

.mdc-text-field--percentages:after {
    content: "\00a0%";
    color: var(--mdc-theme-secondary);
}

.mdc-text-field--color:after {
    content: attr(data-value);
    position: absolute;
    color: var(--mdc-theme-secondary);
    right: 62px;
    top: 17px;
}

.mdc-text-field--select select {
    padding-right: 16px;
}

.mdc-text-field--select option {
    font-family: var(--mdc-typography-button-font-family);
}

.mdc-text-field--select:after {
    content: "\00a0";
    position: absolute;
    top: 50%;
    right: 15px;
    pointer-events: none;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--mdc-theme-text-secondary-on-light);
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-radius: 28px 0 0 28px;
    width: 28px;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
    border-radius: 0 28px 28px 0;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-secondary);
    background-color: rgba(0, 0, 0, .025);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-secondary);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-secondary);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled).mdc-text-field--select:after {
    border-top-color: var(--mdc-theme-primary);
}

.mdc-text-field__input--number {
    text-align: right;
    -moz-appearance: textfield;
}

.mdc-text-field__input--number::-webkit-outer-spin-button,
.mdc-text-field__input--number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mdc-text-field__input--color {
    width: 32px;
    height: 32px !important;
    border-radius: 4px;
    position: absolute;
    right: 23px;
    top: 12px;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--mdc-theme-secondary);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80vw;
}

/* tablet */
@media (max-width:839px) {
    .container {
        width: 98%;
    }
}

/* phone */
@media (max-width: 599px) {
    .container {
        width: 98%;
    }
}