<div class="tabs mdc-tab-bar" role="tablist">
    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content"
                 data-bind="foreach: items">
                <button class="mdc-tab" role="tab">
                    <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label" data-bind="text: text"></span>
                    </span>
                    <span class="mdc-tab-indicator">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                </button>
            </div>
        </div>
    </div>
</div>