<div class="toolbar">
    <button class="mdc-button mdc-button--rounded mdc-button--icon-leading"
            data-bind="click: share">
        <i class="material-icons mdc-button__icon" aria-hidden="true">share</i>
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__focus-ring"></span>
        <span class="mdc-button__label">Share Link</span>
    </button>
    <button class="mdc-button mdc-button--raised mdc-button--rounded mdc-button--icon-leading"
            data-bind="click: download">
        <i class="material-icons mdc-button__icon" aria-hidden="true">download</i>
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__focus-ring"></span>
        <span class="mdc-button__label">Download</span>
    </button>
</div>