<div class="badge mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--color"
            data-bind="datavalue: color">
            <span class="mdc-notched-outline mdc-notched-outline--upgraded">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Color</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="color" class="mdc-text-field__input mdc-text-field__input--color"
                data-bind="textInput: color" />
        </label>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--color"
            data-bind="datavalue: color">
            <span class="mdc-notched-outline mdc-notched-outline--upgraded">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Background Color</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="color" class="mdc-text-field__input mdc-text-field__input--color"
                data-bind="textInput: backgroundColor" />
        </label>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <label class="mdc-text-field mdc-text-field--outlined">
            <span class="mdc-notched-outline mdc-notched-outline--upgraded">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Text</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" class="mdc-text-field__input"
                data-bind="textInput: text, autoselect: true" />
        </label>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--pixels">
            <span class="mdc-notched-outline mdc-notched-outline--upgraded">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Size</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="number" class="mdc-text-field__input mdc-text-field__input--number" step="1" min="0" max="120"
                data-bind="textInput: size, autoselect: true" />
        </label>
    </div>    
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <label class="mdc-text-field mdc-text-field--outlined">
            <span class="mdc-notched-outline mdc-notched-outline--upgraded">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label">Font</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" class="mdc-text-field__input"
                data-bind="textInput: font, autoselect: true" />
        </label>
    </div>
</div>