<div class="guidinglines"
     data-bind="style: {
        'width': size() + 'px',
        'height': size() + 'px',
        'top': 'calc(50% + (' + y() + 'px))',
        'left': 'calc(50% + (' + x() + 'px))'
     }, visible: areVisible">
    <div data-bind="style: {
        'width': 'calc(' + backgroundWidth() + 'px + 40px)',
        'height': size() + 'px',
        'left': 'calc((-1 * (' + backgroundWidth() + 'px - ' + size() + 'px) / 2) - 20px)'
    }"></div>
    <div data-bind="style: {
        'width': size() + 'px',
        'height': 'calc(' + backgroundHeight() + 'px + 40px)',
        'top': 'calc((-1 * (' + backgroundHeight() + 'px - ' + size() + 'px) / 2) - 20px)'
    }"></div>
</div>